/*Aqui está o estilo do Carousel*/
.estrutura-carousel {
    padding: 30px;
    background-color: #eeeeee;
    border-radius: 20px;
}

.adt-noticias-carousel {
    width: 60%;
    margin: 0 auto;
    justify-items: center;
}

.adt-noticias-slides img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.adt-noticias-slides {
    width: 100%;
}

.titulo-noticias,
a,
.categorias {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-top: 10px;
    font-size: 1em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.categorias {
    font-size: 1em; 
    padding-top: 10px;
    text-align: center; 
}


@media screen and (max-width: 768px) {
    .titulo-noticias,
    a,
    .categorias {
        font-size: 0.8em; 
        text-align: left;
    }
}


@media screen and (max-width: 300px) {
    .titulo-noticias,
    a,
    .categorias {
        font-size: 0.6em;
        text-align: left;
    }
}